# Compiled class file

# Log file

# BlueJ files

# Mobile Tools for Java (J2ME)

# Package Files #
*.gradle


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
*.lock
*.bin
*.bin
*.properties
*.bin
*.bin
*.bin
*.probe
*.bin
*.bin
*.bin
